*{
    font-family: 'Courier New', Courier, monospaces;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
}

.add-product{
    padding: 20px 15px;
    background-color: gray;
    width: 250px;
    border-radius: 5px;
}

.form-control{
    padding: 5px;
    border: none;
    outline: none;
}

table{
    width: 40%;
}
th{
    background-color: black;
    color: white;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: darkgray;
}
tr:hover{
    background-color: rgb(99, 99, 99);
}
td{
    padding: 10px;
}
.btn{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.btn-success{
    background-color: #2ecc71;
    
}
.btn-success:hover{
    background-color: #27ae60;
}

.btn-danger{
    background-color: #e74c3c;
}
.btn-danger:hover{
    background-color: #c0392b;
}